.aboutme__row {
    display: flex;
    justify-content: space-between;
}
/* .aboutme__title {
    
} */
.aboutme__content {
    max-width: 600px;
}
.aboutme__content-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
    padding-bottom: 20px;
}
.aboutme__text {
    font-size: 18px;
    line-height: 150%;
}


@media (max-width: 900px){
    .aboutme__row {
        flex-direction: column;
        align-items: center;
    }
    .aboutme__title {
        align-self: flex-start;
    }
    .aboutme__content-title {
        font-size: 22px;
    }
}