
.footer__contacts {
    height: 430px;
    border-top: 3px solid #000;
    border-top-left-radius: 200px;
}
.footer__contacts-dark{
    border-top: 3px solid #fff;
    color: #fff;
}
.footer__contacts-title {
    font-weight: 700;
    font-size: 52px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 65px;
}
.footer__contacts-row {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.footer__contact{
    width: 370px;
    height: 140px;
    border: 2px solid #000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all 0.3s ease-in;
    -webkit-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
}
.footer__contact-dark{
    border: 2px solid #fff;
    -webkit-box-shadow: 7px 7px 7px -3px rgba(255, 255, 255, 0.78);
    -moz-box-shadow: 7px 7px 7px -3px rgba(255, 255, 255, 0.78);
    box-shadow: 7px 7px 7px -3px rgba(255, 255, 255, 0.78);
}

.footer__contact:hover{
    transform: scale(0.98);
    box-shadow: none;
}
.footer__contact-dark:hover{
    box-shadow: none;
}
.footer__contact > img {
    margin-right: 15px;
}
.footer__copiryte {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    background-color: hsla(0, 0%, 95%, 0.1);
    font-size: 18px;
}
.footer__copiryte-dark {
    color: #fff;
    background-color: hsla(0, 0%, 18%, 0.041);
}
.footer__copiryte > p + p{
    padding-top: 15px;
}
