header{
    position: relative;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.header__content {
    padding-top: 80px;
    display: flex;
    align-items: center;
    column-gap: 60px;
    color: #000;
}
.header__content-dark {
    color: #fff;
}
.header__img {
    max-width: 540px;
    max-height: 670px;
    border-radius: 80px;
    overflow: hidden;
    border: 2px solid #000;
    -webkit-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
   
}
.header__img-dark {
    border: 2px solid #fff;
    -webkit-box-shadow: 7px 7px 7px -3px rgba(255, 255, 255, 0.78);
    -moz-box-shadow: 7px 7px 7px -3px rgba(255, 255, 255, 0.78);
    box-shadow: 7px 7px 7px -3px rgba(255, 255, 255, 0.78);
}

.header__img > picture > img{ 
    max-width: 540px;
    max-height: 670px;
}

.header__text {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 650px;
    height: 650px;
}
.header__title {
    font-size: 60px;
    font-weight: 700;
}
.header__description {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 20px;
}
.header__row {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 20px; /* Расстояние между элементами */
}
.header__leng {
    cursor: pointer;
    font-weight: 700;
    font-size: 25px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000027;
    border-radius: 10px;
    border: 1px solid #000;
    -webkit-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    transition: all 0.3s ease-in;
}
.header__leng:hover{
    transform: scale(0.95);
    box-shadow: none;
}
.header__leng-dark{
    border: 1px solid #fff;
    background-color: #ffffff27;
    -webkit-box-shadow: 7px 7px 7px -5px rgba(255, 255, 255, 0.78);
    -moz-box-shadow: 7px 7px 7px -5px rgba(255, 255, 255, 0.78);
    box-shadow: 7px 7px 7px -5px rgba(255, 255, 255, 0.78);
}
.header__links {
    margin-top: auto;
}
.header__links > a{
    display: inline-block;
    padding: 16px 75px;
    background-color: #fff;
    border-radius: 8px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s ease-in;
    -webkit-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    border: 2px solid #000000;
}
.header__links > a:hover{
    background-color: #00000027;
    color: #fff;
    transform: scale(0.98);
    box-shadow: none;  
}
.header__links-dark > a{
    border: 2px solid #fff;
     -webkit-box-shadow: 7px 7px 7px -5px rgba(255, 255, 255, 0.78);
    -moz-box-shadow: 7px 7px 7px -5px rgba(255, 255, 255, 0.78);
    box-shadow: 7px 7px 7px -5px rgba(255, 255, 255, 0.78);
}
.header__links-dark > a:hover{
    background-color: #ffffff27;;
}
.header__links-white {
    margin-left: 50px;
}

.header__toggle {
    position: fixed;
    right: 50px;
    top: 50px;
    width: 52px;
    height: 16px;
    background-color: #000;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    -webkit-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
}
.header__toggle-dark{
    background-color: #fff;
    -webkit-box-shadow: 7px 7px 7px -5px rgba(255, 255, 255, 0.78);
    -moz-box-shadow: 7px 7px 7px -5px rgba(255, 255, 255, 0.78);
    box-shadow: 7px 7px 7px -5px rgba(255, 255, 255, 0.78);
}
.header__toggle-btn {
    margin: 3px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}
.header__toggle-btn-dark {
    background-color: #000;
    margin-left: 38px;
}
.popup {
    position: absolute;
    bottom: -180px;
    left: 0; /* Начальное положение за пределами видимой области */
    width: 555px;
    height: 170px;
    background-color: #00000027;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
    z-index: -1; /* Поверх всех элементов */
    opacity: 0;
    transition: all 0.3s ease-in;
    -webkit-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
    box-shadow: 7px 7px 7px -1px rgba(0, 0, 0, 0.78);
}
.popup-dark{
    color: #fff;
    background-color: #ffffff27;
}

.popup.show {
    bottom: 90px;
    opacity: 1;
}