.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

input[type='search'], input[type='submit'], input[type='text'], input[type='password'], input[type='email'], textarea{
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}



/* Header */
.logo-container{
    background-color: rgb(81, 12, 146);
    font-size: 22px;
}
.logo {
    padding-top: 25px;
    color: #fff;
}
.logo-header {
    letter-spacing: 5px;
    font-size: 65px;
}
.logo-text {
    padding-top: 15px;
    color: silver;
}
.menu {
    padding-top: 100px;
    padding-bottom: 25px;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    color: #fff;
}
.menu-ul {
    display: flex;
    column-gap: 100px;
}
.menu-ul > li:hover {
    transition: color 0.2s ease-in;
}
.menu-ul > li:hover {
    color: #d89a14;
}
.menu-ul-selected{
    color: #d89a14;
}


/* Main Left */
.left-and-right {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}
.left {
    max-width: 770px;
    flex-grow: 1;
    padding-right: 15px;
}
.left-film + .left-film{
    margin-top: 30px;
}
.left-film-header {
    font-size: 45px;
    letter-spacing: 3px;
    padding: 20px 0px;
}
.left-film-row {
    display: flex;
    column-gap: 10px;
}
.left-film-card {
    border: 5px solid silver;
    height: 280px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in;
}
.left-film-card:hover {
    transform: scale(1.05);
}
.left-film-card > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left-content {
    border-top: 1px solid #c7c7c7;
    padding-top: 25px;
    margin-top: 40px;
}
.left-content-header {
    font-size: 30px;
    letter-spacing: 3px;
    color: #a08801;
    padding-bottom: 20px;
}
.left-content-text {
    font-size: 20px;
    line-height: 30px;
}
.left-content-link {
    display: block;
    padding-top: 30px;
    color: #a08801;
    font-size: 20px;
    text-decoration: underline;
}
.left-content-link:visited{
    color: #a08801;
}


/* Main Right */
.search {
    background-color: inherit;
    display: none;
}
.right {
    width: 350px;
}
.right-wrapper{
    background-color: #f3f3f3;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 15px 25px 15px 15px;
}
.right > div + div{
    margin-top: 20px;
}
.right-header{
    font-size: 35px;
    color: rgb(81, 12, 146);
    padding-bottom: 30px;
}

#login-form > input:first-child{
    margin-bottom: 10px;
}
form > input:last-child{
    margin-left: 10px;
}
.right-logo-link{
    padding-top: 10px;
    padding-left: 5px;
}
.right-logo-link > a{
    transition: color 0.2s ease-in;
    color: #a08801;
    text-decoration: underline;
}
.right-logo-link > a:first-child{
    border-right: 1px solid #000;
    padding-right: 5px;
}

.news > p {
    font-size: 20px;
    padding-top: 10px;
}
.news > a {
    display: inline-block;
    padding-top: 10px;
    color: #a08801;
    font-size: 20px;
    text-decoration: underline;
}


.right-rating > li + li {
    padding-top: 10px;
}
.rating-li > a{
    font-size: 20px;
    color: #a08801;
    text-decoration: underline;
}
.rating-li > span {
    font-weight: 600;
    color: rgb(81, 12, 146);
}
.rating {
    float: right;
}

/* Footer */
footer {
    background-color: rgb(81, 12, 146);
    margin-top: 20px;
}
.footer-menu {
    display: flex;
    justify-content: center;
}
.footer-menu > .menu-ul{
    column-gap: 10px;
}
.footer-menu > .menu-ul > li:not(:last-child) {
    border-right: 1px solid #fff;
    padding-right: 10px;
}
.footer-copyright {
    color: #fff;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: center;
}
