/* Main left*/

.left-video{
    border-radius: 20px;
}
.left-description {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 0px 30px;
}
.left-description > div > span:first-child{
    font-size: 20px;
    font-weight: 600;
}
.left-description > div > span:last-child{
    font-size: 20px;
    color: #d89a14;
}

.show-color{
    color: #000;
    padding-bottom: 40px;
}

.left-content-img {
    border: 5px solid silver;
    float: left;
    margin-right: 30px;
}

.left-content-img > img {
    width: auto; 
    height: 270px; 
}
.reviews {
    font-size: 20px;
}
.left-content > .reviews + .reviews{
    padding-top: 50px;
}
.reviews-name {
    padding: 10px;
    background-color: rgb(81, 12, 146);
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.reviews-text {
    padding: 15px;
}

.send {
    padding-top: 30px;
}
.send > form{
    display: flex;
    flex-direction: column;
}
.send > form > input:first-child{
    width: 100%;
    border: 1px solid rgb(81, 12, 146);
}
.send > form > textarea{
    margin-top: 20px;
    width: 100%;
    border: 1px solid rgb(81, 12, 146);
    border-radius: 5px;
    padding: 10px;
    height: 250px;
}
.send > form > input:last-child{
    align-self: flex-start;
    margin-top: 20px;
    background-color: rgb(81, 12, 146);
    color: #fff;
    padding: 20px;
    margin-left: 0px;
}