.container-form {
    margin: 100px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group-authorization{
    margin-bottom: 15px;
}

.input-group-authorization label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group-authorization input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.register{
    color: #7F7F7F !important;
}
.register:hover{
    color: #505050 !important;
}
.btn-authorization {
    background-color: #FF642F;
    padding: 13px 48px; /* фиксированный padding */
    cursor: pointer;
    color: #505050;
    border-radius: 5px;
    transition: all 0.5s ease;
    box-shadow: none; /* начальное значение тени */
}

.btn-authorization:hover {
    box-shadow: 2px 2px 2px 2px #828282; /* изменение только тени */
    transform: scale(1.05); /* небольшой масштаб при наведении */
}

p {
    text-align: center;
    margin-top: 10px;
}

.container-form a:hover {
    text-decoration: underline;
}


@media (max-width: 500px){
    .container-form {
        margin: 60px auto 0px auto;
        max-width: 350px;
        padding: 10px;
    }
}
