@font-face {
    font-family: 'KalniaGlaze';
    src: url(./static/KalniaGlaze-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'KalniaGlaze';
    src: url(./static/KalniaGlaze-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'KalniaGlaze';
    src: url(./static/KalniaGlaze-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'KalniaGlaze';
    src: url(./static/KalniaGlaze-Bold.ttf);
    font-weight: 700;
}
