@font-face {
    font-family: 'Merriweather';
    src: url(./Merriweather-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Merriweather';
    src: url(./Merriweather-Bold.ttf);
    font-weight: 700;
}
