@font-face {
    font-family: 'Golos Text';
    src: url(./static/GolosText-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Golos Text';
    src: url(./static/GolosText-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Golos Text';
    src: url(./static/GolosText-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Golos Text';
    src: url(./static/GolosText-Bold.ttf);
    font-weight: 700;
}
