@font-face {
    font-family: 'SpaceGrotesk';
    src: url(./SpaceGrotesk-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url(./SpaceGrotesk-Medium.ttf);
    font-weight: 500;
}


@font-face {
    font-family: 'SpaceGrotesk';
    src: url(./SpaceGrotesk-Bold.ttf);
    font-weight: 700;
}

