/* Модальное окно для Cropper.js */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    object-fit: cover;
}

.modal-image {
    max-width: 100%;
    height: auto;
}
.modal-buttons {
    margin-top: 10px;
}
.modal-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.modal-button.cancel {
    background-color: #f44336;
}

/* Модальное окно об ошибке */

.modal-alert {
    display: none;
    position: fixed; 
    z-index: 1000; /* Высокий z-index, чтобы окно было над всеми элементами */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Черный с прозрачностью */
}

.modal-content-alert {
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина окна */
    max-width: 400px; /* Максимальная ширина */
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
